In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Information for Accommodation.csv',encoding='ascii')

In [3]:
df.head()

,Type,Name,Address,Rooms,Grade,District,AGA Division,PS/MC/UC,Logitiute,Latitude
0,Boutique Hotels,THE THEVA RESIDENCY,"11/B5/10-1 06TH LANE, HANTANA,KANDY",10,NaN,Kandy,Kandy Divisional Secretariat,Kandy,80.635411,7.276036
1,Boutique Hotels,HIGHLAND VILLA,"351, ABIMANGAMA ROAD, KUMBALGAMA, WELIGAMA",10,NaN,Matara,Weligama Divisional Secretariat,Weligama Pradeshiya Sabha,80.409972,5.960334
2,Boutique Hotels,ULAGALLA WALAWWA RESORT,"THIRAPPANE, ANURADHAPURA",21,NaN,Anuradhapura,Anuradhapura East,Anuradhapura,80.545063,8.205927
3,Boutique Hotels,GALLE FORT HOTEL,"NO.28, CHURCH STREET, FORT , GALLE",14,NaN,Galle,Galle Divisional Secretariat,Galle,80.217563,6.026649
4,Boutique Hotels,THE ELEPHANT CORRIDOR,"POTHANA,KIBISSA, SIGIRIYA",21,NaN,Matale,NaN,Matale,80.710743,7.943525

In [4]:
df['Type'].value_counts(normalize=True)*100

Type
Guest Houses                    41.971831
Home Stay Units                 17.746479
Bangalows                       16.338028
Tourist Hotels                  10.751174
Classified Hotels( 1-5 Star)     6.619718
Rented Apartments                3.004695
Boutique Villas                  1.690141
Boutique Hotels                  1.314554
Rented Homes                     0.281690
Heritage Bungalows               0.187793
Heritage Homes                   0.093897
Name: proportion, dtype: float64

In [5]:
df['Type'].value_counts()

Type
Guest Houses                    894
Home Stay Units                 378
Bangalows                       348
Tourist Hotels                  229
Classified Hotels( 1-5 Star)    141
Rented Apartments                64
Boutique Villas                  36
Boutique Hotels                  28
Rented Homes                      6
Heritage Bungalows                4
Heritage Homes                    2
Name: count, dtype: int64

In [6]:
df.groupby('Type')['Rooms'].mean()

Type
Bangalows                        4.201149
Boutique Hotels                 20.142857
Boutique Villas                  6.583333
Classified Hotels( 1-5 Star)    90.978723
Guest Houses                    10.833333
Heritage Bungalows               4.750000
Heritage Homes                   4.000000
Home Stay Units                  3.010582
Rented Apartments                3.234375
Rented Homes                     3.166667
Tourist Hotels                  43.502183
Name: Rooms, dtype: float64

In [7]:
df.head()

,Type,Name,Address,Rooms,Grade,District,AGA Division,PS/MC/UC,Logitiute,Latitude
0,Boutique Hotels,THE THEVA RESIDENCY,"11/B5/10-1 06TH LANE, HANTANA,KANDY",10,NaN,Kandy,Kandy Divisional Secretariat,Kandy,80.635411,7.276036
1,Boutique Hotels,HIGHLAND VILLA,"351, ABIMANGAMA ROAD, KUMBALGAMA, WELIGAMA",10,NaN,Matara,Weligama Divisional Secretariat,Weligama Pradeshiya Sabha,80.409972,5.960334
2,Boutique Hotels,ULAGALLA WALAWWA RESORT,"THIRAPPANE, ANURADHAPURA",21,NaN,Anuradhapura,Anuradhapura East,Anuradhapura,80.545063,8.205927
3,Boutique Hotels,GALLE FORT HOTEL,"NO.28, CHURCH STREET, FORT , GALLE",14,NaN,Galle,Galle Divisional Secretariat,Galle,80.217563,6.026649
4,Boutique Hotels,THE ELEPHANT CORRIDOR,"POTHANA,KIBISSA, SIGIRIYA",21,NaN,Matale,NaN,Matale,80.710743,7.943525

In [11]:
df.groupby('Grade')['Type'].value_counts()

Grade     Type
A         Guest Houses                    461
B         Guest Houses                    399
C         Guest Houses                     34
DELUXE    Bangalows                       188
          Home Stay Units                  67
          Rented Apartments                13
          Heritage Bungalows                4
          Heritage Homes                    1
FIVE      Classified Hotels( 1-5 Star)     20
FOUR      Classified Hotels( 1-5 Star)     19
ONE       Classified Hotels( 1-5 Star)     40
STANDARD  Home Stay Units                 188
          Bangalows                        60
          Rented Apartments                17
          Rented Homes                      4
SUPERIOR  Home Stay Units                 123
          Bangalows                       100
          Rented Apartments                34
          Rented Homes                      2
          Heritage Homes                    1
THREE     Classified Hotels( 1-5 Star)     25
TWO       Classified Hotels( 1-5 Star)     37
Name: count, dtype: int64

In [14]:
df.groupby('District')['Rooms'].size()

District
Ampara           62
Anuradhapura     58
Badulla         116
Batticaloa       44
Colombo         297
Galle           284
Gampaha         207
Hambantota       76
Jaffna           29
Kalutara        132
Kandy           266
Kegalle          39
Kilinochchi       6
Kurunegala       48
Mannar            4
Matale           86
Matara           88
Moneragala       30
Mullaitivu        4
Nuwara Eliya     93
Polonnaruwa      35
Puttalam         54
Ratnapura        37
Trincomalee      28
Vavuniya          7
Name: Rooms, dtype: int64

In [26]:
# rooms_df=df.groupby('Type')['Rooms'].size()
# sns.barplot(data=rooms_df,x=rooms_df['Type'])

In [22]:
df['Type'].value_counts()

Type
Guest Houses                    894
Home Stay Units                 378
Bangalows                       348
Tourist Hotels                  229
Classified Hotels( 1-5 Star)    141
Rented Apartments                64
Boutique Villas                  36
Boutique Hotels                  28
Rented Homes                      6
Heritage Bungalows                4
Heritage Homes                    2
Name: count, dtype: int64